@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body
{
    padding-top: 56px;
    z-index: 3;
   
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}


ul,li{
    padding: 10px;
    margin: 5px;
}
ul,li,a{
   text-decoration: none;
}
#btn{   
    cursor: pointer;
    flex-wrap: wrap;
}
ul,li {
    font-size:20px;
}
a{
    color: black;
}
#btn{
    margin: 10px;
    font-weight: bold;
}
#card{
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: white;
    width: 100%;
}
#content{
    position: absolute;
    top: 80px;
    width: 95%;
    left: 55px;
    /* z-index: 1; */
}

#tb{
    position: relative;
    top: 50px;
}
#cs{
    position: relative;
    top: 25px;
    left: 10px;
}
#ad{
    position: relative;
    top: 25px;
    left: 20px;
}
#deleteConfirmationModel
{
    margin-top: 5px;
}
#editModel
{
    margin-top: 5px;
    margin-right: 10px;
}
@media (max-width: 786px) {
    .modal-backdrop {
        opacity: 0.5; 
        background-color: transparent; 
        position: relative;
        margin-left:70px;
    }
    #edit
    {
        margin-top: 10px;
    }
    #delete
    {
        margin-top: 10px;
    }
}
/*
@media (max-width: 786px) {
    .modal-backdrop {
        opacity: 0.5; 
        background-color: transparent;
        position: relative;
        margin-left:70px;
    }
    #tb{
        width: 30%;
    }
}*/